FILE_ENCRYPTION_KEY=EvTF5Kf2NkyWSZjkjfnIm5Qw18FjU3hzCo9-cMFscss=
FILE_ENCRYPTION_KEY_VERSION=v1
INTEGRATION_ENCRYPTION_KEY=761TnNkQhmxmL4s8ChpzVpJMqT-qSJJZGntQUQ0TngE=
INTEGRATION_ENCRYPTION_KEY_VERSION=v1
SESSION_SECRET=GCaARx3oS0-AHMD7huYZso3DIVUHiPWfgGA0mbiBkby74wBMAx_dGhiyxRwhJCK5
CSRF_SECRET=7vrlDxKOUBAjxkoiOw-LjtVjQxOPWA13pnZ11HL_8DXsaj3aNNYDr7tzAawodvmJ
AUDIT_HMAC_KEY=IHAoZ6bzAfwAq2WFZtpPpo1vC78VWP8Vy58OFJk-VMW6GSVfaN-jGTCtxgGGK31W
AUDIT_HMAC_KEY_VERSION=v1
AUDIT_HMAC_LEGACY_KEY_VERSION=v1
DB_PASSWORD=executive_ai_dev_2026
